* {
    margin: 0;
    padding: 0;
}

body{
    justify-content: center;
    text-align: center;
    background-color: #fff0fe;
    color: #ad3668;
}

.div-title{
    margin-top: 1%;
    margin-bottom: 2%;
}

.container{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
}

form{
    border: 1px solid;
    height: auto;
    width: auto;
    position: absolute;
}

form > div > div > label {
    font-weight: bold;
    font-size: 1.2em;
}

input{
    border-radius: 5px;
    font-size: 1em;
    height: 17px;
    padding: 5px;
    color: #59429d;
    border: 1px solid #ad3668;
}

select{
    border-radius: 5px;
    font-size: 1em;
    height: 30px;
    width: 180px;
    padding: 5px;
    color: #59429d;
    border: 1px solid #ad3668;
}

.group{
    margin-top:10px;
}

.group .element {
    display: inline-block;
    margin-right: 1em;
}

.left{
    float: left;
}